// Переменные
$btnTextColor:#d90308; // .header__btn__order

// Шрифты
@font-face {
  font-family: "CyrillicOldBold";
  src: url("../fonts//CyrillicOldBold.eot");
  src: url("../fonts//CyrillicOldBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts//CyrillicOldBold.woff") format("woff"),
  url("../fonts//CyrillicOldBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.row__bg {
  background: url(../img/header-bg.png) no-repeat center;
  margin-top: -7px
}
.header__fone {
  color: #020202;
  font-family: "Cambria Math";
  font-size: 30px;
  font-weight: bold;
  line-height: 20.62px;
  text-transform: uppercase;
  /* Text style for "+7 906 758" */
  letter-spacing: 1.05px;
  &:hover {
    text-decoration: none;
    color: #fcf401;
  }
}
.header__btn__order {
  position: relative;
  z-index: 999;
  width: 247px;
  height: 63px;
  cursor: pointer;
  background-color: $btnTextColor;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 12px;
  color: #fcf8f8;
  font-family: "Cambria Math";
  font-size: 23px;
  font-weight: bold;
  line-height: 23.62px;
  /* Text style for "Перезвонит" */
  letter-spacing: 2.1px;
}
.logo-header {
  width: 136px;
  height: 132px;
}

.cart {
  color: #040404;
  font-family: "Cambria Math";
  font-size: 30px;
  font-weight: bold;
  line-height: 26.05px;
  text-transform: uppercase;
  /* Text style for "Итого" */
  letter-spacing: 4.15px;
}
// Main section

.main__section {
  background: url(../img/main-section.png) no-repeat center center;
  background-size: cover;
  height: 1374px;
  margin-top: -72px;
  position: relative;
  z-index: 4;
}
.title-slogan {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 8px rgba(172, 130, 62, 0.75);
  color: #000000;
  font-family: "CyrillicOldBold";
  font-size: 80px;
  font-weight: 400;
  line-height: 5.76px;
  /* Text style for "П, усть  В" */
  letter-spacing: 2.4px;
  text-align: center;
  padding-top: 200px;
}
.main__logo {
  text-align: center;
  margin-top: 80px;
}
.description__slogan {
  text-shadow: 0 0 8px rgba(172, 130, 62, 0.75);
  color: #000000;
  font-family: "CyrillicOldBold";
  font-size: 80px;
  font-weight: 400;
  line-height: 5.76px;
  /* Text style for "П, усть  В" */
  letter-spacing: 2.4px;
  text-align: center;
  padding-top: 100px;
}
.btn__group {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  button {
    margin-left: 52px;
  }
}
// scrin2__section

.scrin2__section {
  background: url(../img/scrin2.png) no-repeat center center;
  background-size: cover;
  height: 818px;
  position: relative;
  z-index: 3;
  margin-top: -200px;
}
.text__box {
  margin-top: 158px;
  text-shadow: -6px -5px 11px rgba(0, 0, 0, 0.75), 0 0 13px rgba(99, 61, 23, 0.75);
  color: #fcf8f8;
  font-family: "CyrillicOldBold";
  font-size: 64px;
  font-weight: bold;
  line-height: 18.96px;
  /* Text style for "О #Царском" */
  letter-spacing: 2.43px;
  img {
    width: 92px;
    height: 101px;
  }
}
.description__box {
   
  p {
    color: #fffefc;
    font-family: "Cambria Math";
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    /* Text style for "Contrary t" */
    letter-spacing: 0.66px;
  }
}